
.logform{
	
	margin: 2% 25% 2% 25%;
	padding: 3%;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	width: 45%;
	min-height: 330px;
	float: left;
	overflow: hidden;
	background: #efefef;
}

input[type="text"],input[type="password"]{
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;
}
input[type="submit"]{

	padding: 5px;
	width: 70px;
	border-radius: 7px;
	cursor: pointer;
}
/*.logform>a{
	margin-left: 30px;
	width: 120px;
	height: 100px;
	border:1px solid #bdbdbd;
	border-radius: 5px ;
	text-decoration: none;
	cursor: pointer;

}
.logform>a:hover{
	width: 120px;
	height: 100px;
	border:1px solid #bdbdbd;
	border-radius: 5px ;
	text-decoration: none;
	cursor: pointer;

}*/